@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #333;
    font-size: 0.875rem;
    min-height: 100vh;
    position: relative;
}

a {
    color: #333;
    text-decoration: none;
    transition: all 0.5s;
}

a:hover {
    opacity: 0.7;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

/* Contents Components */
.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: auto;
    padding: 0 40px;
}

.content {
    padding-top: 120px;
    padding-bottom: 160px;
}

.site-title a {
    width: 180px;
    line-height: 1px;
    display: block;
}

.site-title {
    font-size: 0.875rem;
    font-weight: normal;
    margin-bottom: 30px;
}

/* Header */
#header {
    width: 100%;
    height: 80px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/* Menu */
#navi {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    color: #fff;
    padding: 36px 50px;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0;
}

#navi a {
    color: #fff;
}

#navi li {
    margin-bottom: 14px;
}

/* Menu Icon */
.open #navi {
    left: 0;
    opacity: 1;
}

.toggle_btn {
    width: 30px;
    height: 30px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;
}

.toggle_btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    border-radius: 4px;
    transition: all 0.5s;
}

.toggle_btn span:nth-child(1) {
    top: 10px;
}

.toggle_btn span:nth-child(2) {
    bottom: 10px;
}