@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #333;
    font-size: 0.875rem;
    min-height: 100vh;
    position: relative;
}

a {
    color: #333;
    text-decoration: none;
    transition: all 0.5s;
}

a:hover {
    opacity: 0.7;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

/* Contents Components */
.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: auto;
    padding: 0 40px;
}

.content {
    padding-top: 120px;
    padding-bottom: 160px;
}

.site-title a {
    width: 180px;
    line-height: 1px;
    display: block;
}

.page-title {
    font-size: 0.875rem;
    font-weight: normal;
    margin-bottom: 30px;
}

/* Header */
#header {
    width: 100%;
    height: 80px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/* Menu */
#navi {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    color: #fff;
    padding: 36px 50px;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0;
}

#navi a {
    color: #fff;
}

#navi li {
    margin-bottom: 14px;
}

/* Menu Icon */
.open #navi {
    left: 0;
    opacity: 1;
}

.toggle_btn {
    width: 30px;
    height: 30px;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;
}

.toggle_btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    border-radius: 4px;
    transition: all 0.5s;
}

.toggle_btn span:nth-child(1) {
    top: 10px;
}

.toggle_btn span:nth-child(2) {
    bottom: 10px;
}

.open .toggle_btn span {
    background: #fff;
}

.open .toggle_btn span:nth-child(1) {
    transform: translateY(4px) rotate(-45deg);
}

.open .toggle_btn span:nth-child(2) {
    transform: translateY(-4px) rotate(45deg);
}

#mask {
    display: none;
    transition: all 0.5s;
}

.open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 10;
    cursor: pointer;
}

/* Top */
#top {
    padding-top: 80px;
    padding-bottom: 160px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.product-list img {
    margin-bottom: 10px;
    vertical-align: top;
}

.product-list p {
    font-size: 0.75rem;
}

.link-text {
    display: block;
    margin-top: 40px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.pagination li {
    padding: 0 20px;
}

/* Footer */
#footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

#footer .menu {
    display: flex;
}

#footer .menu li {
    margin-right: 30px;
    font-size: 0.75rem;
}

#footer .copyright {
    font-size: 0.625rem;
}

/* SmartPhone */
/* TOP Product */
@media screen and (max-width: 900px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
    }
}